# Ignore all .log files
*.log

# Ignore all __pycache__ directories
__pycache__/
*/__pycache__/

# Ignore Python cache files
*.py[cod]
*.pyo

# Ignore general cache directories
.cache/
*/.cache/

# VS Code specific (optional)
.vscode/
